<p>How Sweet ;)</p>
<button [swal]="['Niveau 1', 'Vous avez atteint le niveau 1 de Sweet Alert :)', 'success']"  > clic me, i love it </button>
<button [swal]="['Niveau 1', 'Vous avez atteint le niveau 1 de Sweet Alert :)', 'warning']"  > clic me, i love it </button>
<button [swal]="['Niveau 1', 'Vous avez atteint le niveau 1 de Sweet Alert :)', 'error']"  > clic me, i love it </button>
<button [swal]="['Niveau 1', 'Vous avez atteint le niveau 1 de Sweet Alert :)', 'info']"  > clic me, i love it </button>
<button [swal]="['Niveau 1', 'Vous avez atteint le niveau 1 de Sweet Alert :)', 'question']"  > clic me, i love it </button>
